<div class="container animated fadeIn">

    <h2 style="margin-top: 15px;">Carreras</h2>

    <button mat-raised-button (click)="addCareer(null)">Nueva carrera</button>

    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput matInput (keyup)="filter($event)" placeholder="Ingrese algún valor" #input autocomplete="off" style=" width: 730px" /> 
    </mat-form-field>

    <table mat-table [dataSource]="careers" class="mat-elevation-z8" matSort>
       
        <!-- Code -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- title -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">

                <a class="pointer">
                    <mat-icon (click)="addCareer(element)" mat-button>edit</mat-icon>
                </a>

                <a class="pointer" style="color: red">
                    <mat-icon (click)="deleteCareer(element.id)">delete</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Seleccionar página"></mat-paginator>

</div>