<div class="container animated fadeIn">

    <h2 style="margin-top: 15px;">Registro de Notas</h2>

    <mat-form-field appearance="outline" style="margin-left: 5px ;">
        <mat-label>Ciclo</mat-label>
        <mat-select [formControl]="cicleName" name="role">
            <mat-option *ngFor="let cicle of cicles, let i = index" [value]="cicle" (click)=selectCicle(cicle)>
                {{cicle.year}} - {{cicle.cicleNumber}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Groups -->
    <mat-form-field appearance="outline" class="fields" *ngIf="selectedCicle?.id">
        <mat-label>Grupos</mat-label>
        <mat-select [formControl]="groupName" name="group">
            <mat-option *ngFor="let group of groups, let i = index" [value]="group" (click)=selectGroup(group)>
                {{ getCourseName(group.courseId) }} (grupo {{group.groupNumber}})
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="container animated fadeIn" *ngIf="selectedGroup?.id">

        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput matInput (keyup)="filter($event)" placeholder="Ingrese algún valor" #input autocomplete="off" style=" width: 730px" />
        </mat-form-field>

        <table mat-table [dataSource]="enrollments" class="mat-elevation-z8" matSort>

            <!-- User Id -->
            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Alumno </th>
                <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
            </ng-container>

            <!-- Group Id-->
            <ng-container matColumnDef="groupId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
                <td mat-cell *matCellDef="let element"> {{ getCourseName(element.group.courseId) }} (grupo {{element.group.groupNumber}}) </td>
            </ng-container>

            <!-- Grade -->
            <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nota </th>
                <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">

                    <a class="pointer">
                        <mat-icon (click)="saveEnrollment(element)" mat-button>edit</mat-icon>
                    </a>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Seleccionar página"></mat-paginator>
    </div>


</div>