<div class="container animated fadeIn">
    <mat-card>
        <!-- CourseId -->
        <mat-form-field appearance="outline" class="fields">
            <mat-label>Buscar curso</mat-label>
            <input matInput (keyup)="searchCourse()" type="text" placeholder="Digite el nombre del curso" [formControl]="courseName" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="showCourse">
                <mat-option *ngFor="let course of foundCourses" [value]="course" (click)=selectCourse(course)>
                    {{ showCourse(course) }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <!-- Schedule -->
        <mat-form-field appearance="outline" class="fields">
            <mat-label>Horario</mat-label>
            <input type="text" matInput placeholder="Horario" [formControl]="schedule" required>
        </mat-form-field>


        <!-- Professor -->
        <mat-form-field appearance="outline" class="fields">
            <mat-label>Buscar profesor</mat-label>
            <input matInput (keyup)="searchProfessor()" type="text" placeholder="Digite el nombre de un profesor" [formControl]="professorName" [matAutocomplete]="auto1" />
            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="showProfessor">
                <mat-option *ngFor="let user of foundProfessors" [value]="user" (click)=selectProfessor(user)>
                    {{ showProfessor(user) }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <button mat-raised-button (click)="saveCicle()">Guardar</button>
    </mat-card>
</div>